<launch>
    <!-- <node pkg="data2bag" type="data2bag_node" name="data_2bag" output="screen">
        <param name="root_dir" type="string" value = "/mnt/g/data/AVD/2024-11/2024-11-24_15-34-54" />
        <param name="start_time" type="double" value = "1732433732.799336910" />
        <param name="end_time" type="double" value = "1732434394.299974918" />
    </node> -->

    <!-- <node pkg="data2bag" type="data2bag_node" name="data_2bag" output="screen">
        <param name="root_dir" type="string" value = "/mnt/g/data/AVD/2024-11/2024-11-26_11-11-17" />
        <param name="start_time" type="double" value = "1732590728.599605083" />
        <param name="end_time" type="double" value = "1732592109.999284983" />
    </node> -->

    <!-- <node pkg="data2bag" type="data2bag_node" name="data_2bag" output="screen">
        <param name="root_dir" type="string" value = "/mnt/g/data/AVD/2024-03/2024-03-20_15-26-28" />
        <param name="start_time" type="double" value = "1710919586.300220966" />
        <param name="end_time" type="double" value = "1710920021.099806070" />
    </node> -->

    <node pkg="data2bag" type="data2bag_node" name="data_2bag" output="screen">
        <param name="root_dir" type="string" value = "/mnt/g/data/AVD/2024-03/2024-03-20_15-46-15" />
        <param name="start_time" type="double" value = "1710920774.999961138" />
        <param name="end_time" type="double" value = "1710921432.299679041" />
    </node>
</launch>